
// Variables to be used like colors
:root{
    --color-text: #1E451E;
    --color-text2: #8A8A8A;
    --color-text3: #E55210;
    --color-text4: #5D2D18;
    --bg-team-color2: #DF8E1C;
    --bg-team-color: #EBB967;
    --color-pry1: #E66414;
    --color-pry2: #FCBC58;
    --color-pry3: #4ddf4f;
    --color-pry4: #1b791b;
    --color-white: #fff;
    --bg-color2: #EBFFEE;
    --bg-color3: #F4F4F4;
    --color-dark: #000;
    --bottom-color: #A4A4A4;
    --fb-color: #3b5999;
    --twt-color: #55acee;
    --color-red: #E33110;
    --bg-color-3: #F2F5FB;
}

