
* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem=10px, browser default is 16px i.e 10px/16px =0.625px in % = 62.5%
}

body {
    font-family:  $apercu;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: var(--color-dark);
    background-color: var(--color-white);
}

a {
    font-family: $apercu;
    text-decoration: none !important;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.5rem;
}




